<h1>Tasks</h1>
<%= render 'form' %>

<ul>
	<% for item in @tasks %>
		<li>
			<%= item.task %>
			<%= link_to 'Edit', edit_task_path(item) %>
			<%= link_to 'Delete', item, method: 'delete' %>
		</li>
	<% end %>
</ul>