// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flash_notice {
	background: gray;
	border: 1px;
	text-align: center;
	padding: 5px;
	color: white;
	font-size: 16px;
}

body {
	background-color: #205b30;
	margin: 5% auto;
  font-family: Palatino, 'Palatino Linotype', Times, 'Times New Roman', sans-serif;
	color: #58ff86;
  width: 70%;
  font-size: 20px;
  line-height: 50px;
}

a {
	text-decoration: none;
	color: #32924c;
	font-size: 70%;
	float: right;
	margin-right: 4%;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	&:hover {
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
		color: #58ff86;
	}
}

h1 {
	font-size: 40px;
	text-align: center;
	color: #47cc6d;
}

#tasks {
	border: 2px solid #efefef;
	margin: 0 auto;
	word-wrap: break-word;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#form {
	text-align: center;
	background-color: #efefef;
	color: #205b30;
	#task_description {
		padding: 5px;
		background-color: #f7f7f7;
		color: #143b20;
	}
}

li {
	margin: 0 6%;
}

footer {
  text-align: center;
  font-size: 70%;
  margin-top: 2%;
}

@media screen and (max-width: 630px) {
	body {
		margin: 10px auto;
		padding: 0 20px;
		width: auto;
		font-size: 150%;
	}
	a {
		-webkit-transition: none;
		transition: none;
		&:hover {
		-webkit-transform: none;
		transform: none;
		}
	}
}